body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-28px;
  width:1562px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1281 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:24px;
  width:1412px;
  height:736px;
  display:flex;
  transition:none;
}
#u1281 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1281_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1412px;
  height:736px;
}
#u1281_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1282_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D9001B;
}
#u1282 {
  border-width:0px;
  position:absolute;
  left:1380px;
  top:570px;
  width:210px;
  height:19px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D9001B;
}
#u1282 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1282_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1283_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:170px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u1283 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:820px;
  width:900px;
  height:170px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u1283 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1283_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1284_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  text-decoration:underline ;
  color:#0000FF;
}
#u1284 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:830px;
  width:300px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  text-decoration:underline ;
  color:#0000FF;
}
#u1284 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1284_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1285_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D9001B;
}
#u1285 {
  border-width:0px;
  position:absolute;
  left:555px;
  top:830px;
  width:280px;
  height:19px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D9001B;
}
#u1285 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1285_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1286 {
  border-width:0px;
  position:absolute;
  left:1290px;
  top:520px;
  width:30px;
  height:40px;
  display:flex;
  transition:none;
}
#u1286 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 14px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1286_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u1286_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1287 {
  border-width:0px;
  position:absolute;
  left:1205px;
  top:691px;
  width:30px;
  height:40px;
  display:flex;
  transition:none;
}
#u1287 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 14px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1287_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u1287_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1288 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:780px;
  width:30px;
  height:40px;
  display:flex;
  transition:none;
}
#u1288 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 14px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1288_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u1288_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1289_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u1289 {
  border-width:0px;
  position:absolute;
  left:1205px;
  top:731px;
  width:84px;
  height:19px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u1289 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1289_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1290_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u1290 {
  border-width:0px;
  position:absolute;
  left:1184px;
  top:750px;
  width:274px;
  height:170px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u1290 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1290_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1291 label {
  left:0px;
  width:100%;
  height:100%;
}
#u1291_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:12px;
  height:12px;
}
#u1291 {
  border-width:0px;
  position:absolute;
  left:1205px;
  top:760px;
  width:55px;
  height:18px;
  display:flex;
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1291 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u1291_img.selected {
}
#u1291.selected {
}
#u1291_img.disabled {
}
#u1291.disabled {
}
#u1291_img.selected.error {
}
#u1291.selected.error {
}
#u1291_img.selected.hint {
}
#u1291.selected.hint {
}
#u1291_img.selected.error.hint {
}
#u1291.selected.error.hint {
}
#u1291_img.mouseOver.selected {
}
#u1291.mouseOver.selected {
}
#u1291_img.mouseOver.selected.error {
}
#u1291.mouseOver.selected.error {
}
#u1291_img.mouseOver.selected.hint {
}
#u1291.mouseOver.selected.hint {
}
#u1291_img.mouseOver.selected.error.hint {
}
#u1291.mouseOver.selected.error.hint {
}
#u1291_img.mouseDown.selected {
}
#u1291.mouseDown.selected {
}
#u1291_img.mouseDown.selected.error {
}
#u1291.mouseDown.selected.error {
}
#u1291_img.mouseDown.selected.hint {
}
#u1291.mouseDown.selected.hint {
}
#u1291_img.mouseDown.selected.error.hint {
}
#u1291.mouseDown.selected.error.hint {
}
#u1291_img.mouseOver.mouseDown.selected {
}
#u1291.mouseOver.mouseDown.selected {
}
#u1291_img.mouseOver.mouseDown.selected.error {
}
#u1291.mouseOver.mouseDown.selected.error {
}
#u1291_img.mouseOver.mouseDown.selected.hint {
}
#u1291.mouseOver.mouseDown.selected.hint {
}
#u1291_img.mouseOver.mouseDown.selected.error.hint {
}
#u1291.mouseOver.mouseDown.selected.error.hint {
}
#u1291_img.focused.selected {
}
#u1291.focused.selected {
}
#u1291_img.focused.selected.error {
}
#u1291.focused.selected.error {
}
#u1291_img.focused.selected.hint {
}
#u1291.focused.selected.hint {
}
#u1291_img.focused.selected.error.hint {
}
#u1291.focused.selected.error.hint {
}
#u1291_img.selected.disabled {
}
#u1291.selected.disabled {
}
#u1291_img.selected.hint.disabled {
}
#u1291.selected.hint.disabled {
}
#u1291_img.selected.error.disabled {
}
#u1291.selected.error.disabled {
}
#u1291_img.selected.error.hint.disabled {
}
#u1291.selected.error.hint.disabled {
}
#u1291_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:0px;
  width:43px;
  word-wrap:break-word;
  text-transform:none;
}
#u1291_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u1292 label {
  left:0px;
  width:100%;
  height:100%;
}
#u1292_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:12px;
  height:12px;
}
#u1292 {
  border-width:0px;
  position:absolute;
  left:1278px;
  top:760px;
  width:55px;
  height:18px;
  display:flex;
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1292 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u1292_img.selected {
}
#u1292.selected {
}
#u1292_img.disabled {
}
#u1292.disabled {
}
#u1292_img.selected.error {
}
#u1292.selected.error {
}
#u1292_img.selected.hint {
}
#u1292.selected.hint {
}
#u1292_img.selected.error.hint {
}
#u1292.selected.error.hint {
}
#u1292_img.mouseOver.selected {
}
#u1292.mouseOver.selected {
}
#u1292_img.mouseOver.selected.error {
}
#u1292.mouseOver.selected.error {
}
#u1292_img.mouseOver.selected.hint {
}
#u1292.mouseOver.selected.hint {
}
#u1292_img.mouseOver.selected.error.hint {
}
#u1292.mouseOver.selected.error.hint {
}
#u1292_img.mouseDown.selected {
}
#u1292.mouseDown.selected {
}
#u1292_img.mouseDown.selected.error {
}
#u1292.mouseDown.selected.error {
}
#u1292_img.mouseDown.selected.hint {
}
#u1292.mouseDown.selected.hint {
}
#u1292_img.mouseDown.selected.error.hint {
}
#u1292.mouseDown.selected.error.hint {
}
#u1292_img.mouseOver.mouseDown.selected {
}
#u1292.mouseOver.mouseDown.selected {
}
#u1292_img.mouseOver.mouseDown.selected.error {
}
#u1292.mouseOver.mouseDown.selected.error {
}
#u1292_img.mouseOver.mouseDown.selected.hint {
}
#u1292.mouseOver.mouseDown.selected.hint {
}
#u1292_img.mouseOver.mouseDown.selected.error.hint {
}
#u1292.mouseOver.mouseDown.selected.error.hint {
}
#u1292_img.focused.selected {
}
#u1292.focused.selected {
}
#u1292_img.focused.selected.error {
}
#u1292.focused.selected.error {
}
#u1292_img.focused.selected.hint {
}
#u1292.focused.selected.hint {
}
#u1292_img.focused.selected.error.hint {
}
#u1292.focused.selected.error.hint {
}
#u1292_img.selected.disabled {
}
#u1292.selected.disabled {
}
#u1292_img.selected.hint.disabled {
}
#u1292.selected.hint.disabled {
}
#u1292_img.selected.error.disabled {
}
#u1292.selected.error.disabled {
}
#u1292_img.selected.error.hint.disabled {
}
#u1292.selected.error.hint.disabled {
}
#u1292_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:0px;
  width:43px;
  word-wrap:break-word;
  text-transform:none;
}
#u1292_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u1293 label {
  left:0px;
  width:100%;
  height:100%;
}
#u1293_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:12px;
  height:12px;
}
#u1293 {
  border-width:0px;
  position:absolute;
  left:1350px;
  top:760px;
  width:55px;
  height:18px;
  display:flex;
  transition:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1293 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u1293_img.selected {
}
#u1293.selected {
}
#u1293_img.disabled {
}
#u1293.disabled {
}
#u1293_img.selected.error {
}
#u1293.selected.error {
}
#u1293_img.selected.hint {
}
#u1293.selected.hint {
}
#u1293_img.selected.error.hint {
}
#u1293.selected.error.hint {
}
#u1293_img.mouseOver.selected {
}
#u1293.mouseOver.selected {
}
#u1293_img.mouseOver.selected.error {
}
#u1293.mouseOver.selected.error {
}
#u1293_img.mouseOver.selected.hint {
}
#u1293.mouseOver.selected.hint {
}
#u1293_img.mouseOver.selected.error.hint {
}
#u1293.mouseOver.selected.error.hint {
}
#u1293_img.mouseDown.selected {
}
#u1293.mouseDown.selected {
}
#u1293_img.mouseDown.selected.error {
}
#u1293.mouseDown.selected.error {
}
#u1293_img.mouseDown.selected.hint {
}
#u1293.mouseDown.selected.hint {
}
#u1293_img.mouseDown.selected.error.hint {
}
#u1293.mouseDown.selected.error.hint {
}
#u1293_img.mouseOver.mouseDown.selected {
}
#u1293.mouseOver.mouseDown.selected {
}
#u1293_img.mouseOver.mouseDown.selected.error {
}
#u1293.mouseOver.mouseDown.selected.error {
}
#u1293_img.mouseOver.mouseDown.selected.hint {
}
#u1293.mouseOver.mouseDown.selected.hint {
}
#u1293_img.mouseOver.mouseDown.selected.error.hint {
}
#u1293.mouseOver.mouseDown.selected.error.hint {
}
#u1293_img.focused.selected {
}
#u1293.focused.selected {
}
#u1293_img.focused.selected.error {
}
#u1293.focused.selected.error {
}
#u1293_img.focused.selected.hint {
}
#u1293.focused.selected.hint {
}
#u1293_img.focused.selected.error.hint {
}
#u1293.focused.selected.error.hint {
}
#u1293_img.selected.disabled {
}
#u1293.selected.disabled {
}
#u1293_img.selected.hint.disabled {
}
#u1293.selected.hint.disabled {
}
#u1293_img.selected.error.disabled {
}
#u1293.selected.error.disabled {
}
#u1293_img.selected.error.hint.disabled {
}
#u1293.selected.error.hint.disabled {
}
#u1293_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:0px;
  width:43px;
  word-wrap:break-word;
  text-transform:none;
}
#u1293_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
